@page "/entrepriseedit"
@using GestionDesStagePS.Shared.Models;
@attribute [Authorize(Policy = GestionDesStagePS.Shared.Policies.Policies.EstEntreprise)]
@using Microsoft.AspNetCore.Authorization
<section>
    <AuthorizeView>
        <Authorized>
            <h3 style="background-color: black; color: white; padding: 5px 5px 5px 5px;" class="page-title">Détail des informations de votre profil | @context.User.Identity.Name</h3>
        </Authorized>
    </AuthorizeView>
    <p class="text-muted" style="font-style:italic">Prenez note que votre courriel et votre mot de passe peuvent être modifiés en cliquant en haut à droite.</p>
    <EditForm Model="@Entreprise" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary></ValidationSummary>

        <div class="form-group row">
            <label asp-for="NomEntreprise" class="col-sm-3">Nom d'entreprise' :</label>
            <InputText id="Prenom" class="form-control col-sm-8" @bind-Value="@Entreprise.NomEntreprise" placeholder="Entrer le nom de l'entreprise"></InputText>
            <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Entreprise.NomEntreprise)" />
        </div>

        <div class="form-group row">
            <label asp-for="NomResponsable" class="col-sm-3">Nom du responsable :</label>
            <InputText id="NomResponsable" class="form-control col-sm-8" @bind-Value="@Entreprise.NomResponsable" placeholder="Entrer le nom du responsable"></InputText>
            <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Entreprise.NomResponsable)" />
        </div>

        <div class="form-group row">
            <label asp-for="PrenomResponsable" class="col-sm-3">Prénom du responsable :</label>
            <InputText id="PrenomResponsable" class="form-control col-sm-8" @bind-Value="@Entreprise.PrenomResponsable" placeholder="Entrer le prénom du responsable"></InputText>
            <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Entreprise.PrenomResponsable)" />
        </div>

        <div class="form-group row">
            <label asp-for="Telephone" class="col-sm-3">Numéro de téléphone :</label>
            <InputText id="Telephone" class="form-control col-sm-8" @bind-Value="@Entreprise.Telephone" placeholder="Entrer le numéro de téléphone de l'entreprise"></InputText>
            <label class="offset-sm-3 col-sm-8 text-muted">Merci de saisir avec le format suivant : 9999999999)</label>
            <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Entreprise.Telephone)" />
        </div>

        <div class="form-group row">
            <label asp-for="PosteTelephonique" class="col-sm-3">Poste Téléphonique :</label>
            <InputText id="PosteTelephonique" class="form-control col-sm-8" @bind-Value="@Entreprise.PosteTelephonique" placeholder="Poste Téléphonique"></InputText>
            <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Entreprise.PosteTelephonique)" />
        </div>

        <button type="submit" class="btn btn-primary edit-btn">Enregistrer les informations</button>
        <a class="btn btn-outline-primary" @onclick="@NavigateToOverview">Annuler</a>
    </EditForm>
</section>
